@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">This is the Home page of this application</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Employees</h2>
        <p>
            Employees section contains all information about employees and enables the management of that data.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Roles</h2>
        <p>Roles section contains all information about employee roles and enables the management of that data.</p>

    </div>
    <div class="col-md-4">
        <h2>Accounts</h2>
        <p>Accounts section contains all information about employee accounts and enables the management of that data.</p>
    </div>
</div>